<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Running Man with raised arm free icon</key>
	<string>Freepik</string>
	<key>History clock button free icon</key>
	<string>Google</string>
	<key>Home Icon Silhouette free icon</key>
	<string>Freepik</string>
	<key>Hashtag symbol free icon</key>
	<string>Freepik</string>
	<key>Close button free icon</key>
	<string>Google</string>
	<key>User Avatar Main Picture free icon</key>
	<string>Bogdan Rosu</string>
	<key>Mailbox free icon</key>
	<string>Freepik</string>
	<key>Running silhouette free icon</key>
	<string>Freepik</string>
	<key>Gear Option free icon</key>
	<string>Freepik</string>
	<key>Runner free icon</key>
	<string>Freepik</string>
	<key>Heart black shape for valentines free icon</key>
	<string>Freepik</string>
	<key>Heart outline free icon</key>
	<string>Freepik</string>
	<key>Virus free icon</key>
	<string>Freepik</string>
</dict>
</plist>
