<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Refresh button</key>
	<string>Freepik</string>
	<key>Twitter</key>
	<string>Icomoon</string>
	<key>Sliders</key>
	<string>Vaadin</string>
	<key>Running Man with raised arm</key>
	<string>Freepik</string>
	<key>History clock button</key>
	<string>Google</string>
	<key>Home Icon Silhouette</key>
	<string>Freepik</string>
	<key>Hashtag symbol</key>
	<string>Freepik</string>
	<key>Close button</key>
	<string>Google</string>
	<key>User Avatar Main Picture</key>
	<string>Bogdan Rosu</string>
	<key>Mailbox</key>
	<string>Freepik</string>
	<key>Running</key>
	<string>Freepik</string>
	<key>Gear Option</key>
	<string>Freepik</string>
	<key>Runner</key>
	<string>Freepik</string>
	<key>Heart black shape for valentines</key>
	<string>Freepik</string>
	<key>Heart outline</key>
	<string>Freepik</string>
	<key>Virus</key>
	<string>Freepik</string>
	<key>Ranking factor</key>
	<string>Freepik</string>
</dict>
</plist>
